﻿@model HerczegKristofFejlabuak.Web.Models.Species
@{
    ViewBag.Title = "SpeciesEdit";
}
<h2>Edit one specie</h2>

@using (Html.BeginForm("Edit", "Species"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

   
    <div class="editor-label"> @Html.LabelFor(m => m.species_name)</div>
    <div class="editor-label"> @Html.EditorFor(m => m.species_name)</div>

    <div class="editor-label"> @Html.LabelFor(m => m.atlagos_meret)</div>
    <div class="editor-label"> @Html.EditorFor(m => m.atlagos_meret)</div>

    <div class="editor-label"> @Html.LabelFor(m => m.cute)</div>
    <div class="editor-label"> @Html.EditorFor(m => m.cute)</div>

    <div class="editor-label"> @Html.LabelFor(m => m.felfedezes)</div>
    <div class="editor-label"> @Html.EditorFor(m => m.felfedezes)</div>

    <div class="editor-label"> @Html.LabelFor(m => m.genus_name)</div>
    <div class="editor-label"> @Html.EditorFor(m => m.genus_name)</div>

    <div class="editor-label"> @Html.LabelFor(m => m.legnagyobb_meret)</div>
    <div class="editor-label"> @Html.EditorFor(m => m.legnagyobb_meret)</div>

    <div class="editor-label"> @Html.LabelFor(m => m.megjelenes)</div>
    <div class="editor-label"> @Html.EditorFor(m => m.megjelenes)</div>

    <input type="submit" value="SEND" />
}