﻿@model HerczegKristofFejlabuak.Web.Models.SpeciesViewModel
@{
    ViewBag.Title = "SpeciesIndex";
}

<h2>SpeciesIndex</h2>
<p> @TempData["editResult"]</p>
@Html.Partial("SpeciesEdit", Model.EditedSpecie)
@Html.Partial("SpeciesList", Model.ListOfSpecies)
