﻿@model IEnumerable< HerczegKristofFejlabuak.Web.Models.Species>


<h2>List of species</h2>


@if (Model.Count() == 0)
{
<p>No Data In Database</p>
}
else
{
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.First().species_name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.First().genus_name)
        </th>
        <th>
            Datasheet
        </th>
        <th>
            Delete
        </th>
        <th>
            Edit
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@Html.DisplayFor(m => item.species_name)</td>
    <td>@Html.DisplayFor(m => item.genus_name)</td>
    <td>@Html.DisplayFor(m => item.atlagos_meret)</td>
    <td>@Html.DisplayFor(m => item.classification)</td>
    <td>@Html.DisplayFor(m => item.cute)</td>
    <td>@Html.DisplayFor(m => item.felfedezes)</td>
    <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.species_name })</td>
    <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.species_name })</td>
    <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.species_name })</td>
</tr>



    }
</table>
}
