﻿@model HerczegKristofFejlabuak.Web.Models.Species
@{
    ViewBag.Title = "Details";
}
<h2>SpecieDetailed</h2>
@Html.ActionLink("BackToList", "Index")
<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.atlagos_meret)   </td>
        <td> @Model.atlagos_meret</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.classification)   </td>
        <td> @Model.classification</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.cute)   </td>
        <td> @Model.cute</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.felfedezes)   </td>
        <td> @Model.felfedezes</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.genus_name)   </td>
        <td> @Model.genus_name</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.legnagyobb_meret)   </td>
        <td> @Model.legnagyobb_meret</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.megjelenes)   </td>
        <td> @Model.megjelenes</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.species_name)   </td>
        <td> @Model.species_name</td>
    </tr>
</table>
